@import "../../../components/Tabs/Tabs.scss";
@import "./issue-history/IssueHistoryComponent.scss";
@import "../widgets/chat-bot/style.scss";

$default-column-width: 8.33333;
$drawer-padding: 10px;
.appliance-dashboard {
  .widget-panel {
    background: $widget-bg-color;
    color: $widget-txt-color;
    border-radius: 6px;
    border: 1px solid $widget-border-color;
    > .header {
      text-transform: uppercase;
      border-bottom: 1px solid $widget-border-color;
    }
  }
  .widget-hidden {
    display: none;
  }

  .top-issues {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      padding: 3px 0;
      font-size: 0.9em;
      > .category {
        width: 45%;
        padding: 0 5px;
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 11px;
        text-transform: uppercase;
        cursor: default;
        @media only screen and (max-width: 1024px) {
          width: 30%;
        }
        @media only screen and (max-width: 768px) {
          width: 46%;
        }
      }
      span {
        display: inline-block;
      }
      > .issue-bar {
        height: 10px;
        background: #c34b2e;
        display: inline-block;
        margin-right: 3px;
      }
      .width-label {
        font-size: 0.7em;
        margin: auto 0;
      }
    }
  }

  .faq {
    margin: 0;
    padding: 0;
    li {
      list-style-type: none;
      padding: 5px;
      cursor: pointer;
      color: #2064a0;
      display: flex;
      .faq-title {
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }
      &:hover {
        .content-feedback {
          &.hide {
            display: flex;
          }
        }
      }
    }
  }

  .wrapper {
    display: flex;
    @include flex(1);
    @media only screen and (max-width: 768px) {
      flex-direction: column;
    }
    .left,
    .right {
      @include flex(1);
    }
    .left {
      min-width: 50%;
      @media only screen and (max-width: 768px) {
        min-width: 100%;
      }
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        width: 50%;
        min-width: auto;
      }
    }
    .top5-hidden {
      .content {
        height: 353px;
      }
    }
    .content {
      height: 151px;
      // @media only screen and (max-width: 1024px) {
      //   height: 148px;
      // }
      overflow: hidden;

      .sub-content {
        width: 100%;
        overflow: auto;
        .no-resources {
          border-left: 2px solid transparent;
          padding: 9px 10px;
          margin-right: 10px;
          background: #f0f0f0;
          cursor: default;
        }
      }
    }
  }
  .wrap {
    padding: 0 5px;
    margin-bottom: 10px;
    .bar-icon {
      position: absolute;
      right: 20px;
      top: 10px;
    }
  }
}
@media only screen and (max-width: 768px) {
  $column-width: unit($default-column-width);
  .dashboard-layout {
    .widgets-container {
      .span_4 {
        width: unit($default-column-width * 6%);
      }
      .span_5,
      .span_6,
      .span_7,
      .span_8,
      .span_9,
      .span_10,
      .span_11,
      .span_12 {
        width: 100%;
      }
      .default-column {
        width: unit($default-column-width * 1%);
      }
      .span_1,
      .span_2,
      .span_3 {
        width: unit($default-column-width * 6%);
      }
    }
  }
}
.dashboard {
  .dashboard-layout {
    background-color: $bg-color;
    padding-bottom: 0px !important;
    .widget-wrapper {
      padding: 0 3px !important;
      display: flex !important;
      flex-direction: column;
      .widget-wrap {
        display: flex;
        flex: 1;
        overflow: hidden;
        flex-direction: column;
        .wrapper {
          overflow: hidden;
          .wrap {
            display: flex;
            flex: 1;
            flex-direction: column;
            overflow: hidden;
            .widget-panel {
              display: flex;
              flex-direction: column;
              flex: 1;
              .content {
                flex: 1;
                display: flex;
                flex-direction: column;
                overflow: hidden;
                height: initial !important;
                .sub-content {
                  flex: 1;
                  overflow: auto;
                }
              }
            }
          }
          .right {
            display: flex;
            flex: 1;
            flex-direction: column;
          }
          .left {
            display: flex;
            flex: 1;
            flex-direction: column;
          }
        }
      }
      &:nth-child(2) {
        min-height: 675px;
        height: calc(100vh - 93px);
      }
      &:nth-child(3) {
        min-height: 166px;
        .widget-panel {
          min-height: 160px;
        }
      }
      &:nth-child(4) {
        min-height: 488px;
        height: calc(100vh - 280px);
      }
    }
  }
}
.dashboard-view {
  .content {
    .no-dash-view {
      font-weight: 500;
      font-size: 1.2em;
      text-align: center;
      margin: 100px;
      padding: 20px;
      color: #092c74;
    }
  }
}

@import "./appliance-info/ApplianceInfoComp.scss";
@import "./media/ResourceComponent.scss";
@import "./drawer/Drawer.scss";
