.page-message {
  padding: 30px 0 10px;
  display: flex;
  flex-direction: column;

  >.icon {
    display: flex;
    justify-content: center;
  }

  >.message {
    font-weight: 500;
    font-size: 1.2em;
    text-align: center;
  }

  > p {
    margin: 0;
    padding: 20px;
    // margin-left: 20px;
    // text-transform: uppercase;
  }

  >.content {
    padding: 10px;
    text-align: center;
    p {
      padding: 10px;
      margin: 0;
      text-align: center;
    }
    button, .button, input[type=button] {
      min-width: 120px;
    }
  }
}

.error-view {
   @include flex(1);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  .actions {
    display: flex;
    justify-content: center;
  }
}