
.tab-list {
  padding-left: 0;
  margin: 0;
  @include flex-container;
  .tab-list-item {
    max-width: 45%;
    @include ellipsis;
    display: inline-block;
    cursor: pointer;
    list-style: none;
    margin: 0 6px 0 0;
    padding: 5px 10px;
    background-color: $tab-bg;
    color: $tab-txt-color;
    font-weight: bold;
    text-transform: uppercase;
  }
  .tab-list-active {
    background-color: $selected-tab-bg;
    color: $selected-tab-txt;
  }
}
