.content-feedback {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 10px;
  font-size: 1.2em;
  padding-right: 2px;
  .thumb-icon {
    color: #a7a7a7;
    text-decoration: none;
    
    &.like {
      &.selected {
        color: #106ba3;
      }
      &:hover {
        color: #106ba3;
        transform: scale(1.2); 
      }
    }
    
    &.dislike {
      margin-left: 5px;
      // transform: scaleX(-1);
      &.selected {
        color: #C34B2D;
      }
      &:hover {
        color: #C34B2D;
        transform: scale(1.2); 
      }
    }
  }
  svg {
    margin-right: 1px;
  }
  &.show {
    display: flex;
  }
  &.hide {
    display: none;
  }
}

.resource-component {
  cursor: pointer;
  display: flex;
  padding: 5px 0;
  margin: 5px 0;
  &:hover{
    .content-feedback {
      &.hide {
        display: flex;
      }
    }
  }
  .doc-img {
    //  @include flex(1);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-right: 10px;
    img {
      width: 35px;
      height: 35px;
    }
  }
  
  .doc-content {
    flex: 2;
    justify-content: center;
    display: flex;
    flex-direction: column;
    a {
      text-decoration: none;
      color: #000;
    }
    .heading, .description {
      margin: 0;
    }
    .heading {
      text-transform: uppercase;
      font-weight: 500;
      font-size: .9em;
    }
  }
}