.about-view {
  margin: 15px;
  .content {
    text-align: center;
    .icon {
      color: $brand-color;
    }
    h6 {
      font-weight: normal;
      margin: 0;
    }
    h2 {
      margin: 0;
    }
    button {
      margin-top: 15px;
      min-width: 70px;
    }
  }
  .widget-panel  {
    background: $widget-bg-color;
    .header {
      border-bottom: none;
    }
  }
}

