.login-component {
   @include flex(1);
  background-color:rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 50px;
  @media screen and (max-width: 480px) {
    padding: 50px 10px 0 10px;
  }
  .login-dialog-box {
    background-color: #fafafa;
    color: #707588;
    border-radius: 3px;
    @media screen and (min-width: 480px) {
      min-width: 480px;
    }
    height: auto;
    .header {
      padding: 20px 0;
      text-align: center;
      margin: 0 20px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.03);
      text-transform: uppercase;
    }
    .body {
      min-height: 200px;
      overflow-x: auto;
      text-align: center;
      padding: 20px;
      .message {
        padding: 15px;
        margin: 0 auto 20px;
        background-color: rgba(0, 0, 0, 0.05);
        border-radius: 3px;
        &.error {
          color: $error-color;
          background-color: lighten($error-color, 40%);
        }
      }
      .form {
        padding: 20px;
        .field-container {
          display: flex;
          input {
            width: 100%;
          }
        }
      }
      .actions {
        display: flex;
        justify-content: flex-end;
        button {
          margin: 0;
          border-bottom: 0;
        }
      }
    }
  }
}


