$container-gutter: 10px;

.chatbot {
  flex: 1;
  display: flex;
  flex-direction: column;

  > .header {
    border-bottom: none !important;
  }
  > .content {
    display: flex;
    flex: 1;
    flex-direction: column;
    //height: 448px;
    overflow: hidden;
    padding: 0px 10px 10px 10px !important;
    .chat-box {
      @include flex(1);
      display: flex;
      flex-direction: column;
      background: $chat-bg-color;
      border: 1px solid $widget-border-color;
      .bru-thread-display-component {
        overflow: hidden;
        overflow-y: auto;
        ul {
          &.messages {
            > li {
              background: $bot-message-bg-color;
              box-shadow: none;
              border: 0.5px solid $widget-border-color;

              &.my-message {
                background: $bot-user-msg;
              }

              &.system-message {
                background: $bot-sys-msg;
              }

              &.error-message {
                background-color: $bot-err-msg;
              }

              .bru-suggested-action-card-component {
                .container + label {
                  color: $widget-txt-color;
                }
              }
              .bru-typing-indicator-component {
                span {
                  background-color: $widget-txt-color;
                }
              }
            }
          }
        }
      }
      .message-history-wrap {
        @include flex(1);
        overflow-y: auto;
        max-width: 100%;
        width: 100%;
        display: flex;
        margin-bottom: 0;

        > * {
          @include flex(1);
          max-width: 100%;
          width: 100%;
        }
      }
      #message-input-wrap {
        background: $bot-input-bg;
        margin: 10px 15px;
        padding: 0px 15px 0px 10px;
        border-radius: 10em;
        display: flex;

        input {
          @include flex(1);
          padding: 6px;
          border: none;
          background: transparent;
          transition: all 0.5s ease-in-out;
          min-height: 2em;
          height: 2.5em;
          width: 100%;
          margin-right: 5px;
          font-size: 105%;
          box-shadow: none;
          margin-bottom: 0px;
          color: $bot-input;
          &:focus {
            outline: none;
            border: none;
          }
          &[disabled],
          &:disabled {
            background: transparent !important;
            cursor: not-allowed;
            // border-radius: 3px;
            resize: none;

            &::placeholder {
              color: $bot-input-disabled;
            }
          }

          &::-webkit-input-placeholder {
            color: $primary-color;
          }
          &:-moz-placeholder {
            color: $primary-color;
            opacity: 1;
          }
          &::-moz-placeholder {
            color: $primary-color;
            opacity: 1;
          }
          &:-ms-input-placeholder {
            color: $primary-color;
          }
          &::placeholder {
            color: $primary-color;
          }
        }

        button {
          border: none;
          outline: none;
          background: transparent;
          padding: 0;
          margin: 0;

          &[disabled],
          &:disabled {
            background: transparent !important;
            cursor: not-allowed;
            > img {
              opacity: 0.3;
            }
          }

          > img {
            width: 24px;
            height: 24px;
            opacity: 0.6;
            margin-left: 5px;
          }
        }
      }
    }
  }
}
