html {
  body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.3rem;
    background-color: $bg-color;
    color: $txt-color;
  }
}

@mixin flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@mixin flex($grow: 1, $shrink: 1, $basis: 0) {
  -webkit-box-flex: $grow;
  -webkit-flex: $grow $shrink $basis;
  -ms-flex: $grow $shrink $basis + px;
  flex: $grow $shrink $basis;
}
@mixin ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

$header-height: 60px;
.app {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  // min-height: 100%;
  height: 100%;
  overflow: hidden;
  > .app-header {
    display: flex;
    background: $header-bg;
    color: $header-txt;
    justify-content: space-between;
    align-items: left;

    height: $header-height;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    z-index: 2;
    .exit {
      display: flex;
      cursor: pointer;
      &:not(.disabled):hover {
        transition: all 200ms ease-in;
        transform: scale(1.1);
      }
      &.disabled {
        cursor: not-allowed;
      }
      img {
        height: 30px !important;
        width: 30px;
        margin-left: 50px;
      }
    }
    @keyframes fadein {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    @keyframes fadeout {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
    .message {
      position: absolute;
      top: $header-height;
      right: 15px;
      background: #fff;
      color: #c34b2d;
      padding: 10px;
      font-weight: 500;
      animation: fadein 200ms linear forwards, fadeout 900ms linear forwards;
      animation-delay: 0ms, 850ms;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 250px;
      height: 40px;
    }
    .feedback-section {
      display: flex;
      margin-top: auto;
      .disabled {
        cursor: not-allowed;
        opacity: 0.6;
      }
      div {
        display: flex;
        flex-direction: column;
        margin-left: 25px;
        padding: 5px 5px 0 5px;
        cursor: pointer;
        img {
          height: 25px;
          width: 25px;
        }
        span {
          font-size: 0.8em;
          align-self: center;
          margin-top: 3px;
        }
        &:hover:first-child,
        &:hover:last-child {
          transition: all 200ms ease-in;
          transform: scale(1.1);
        }
      }
      .selected {
        background: #fff;
        color: #092c74;
        margin-bottom: -3px;
      }
    }
    .branding {
      flex: 2 0;
      display: flex;
      align-items: center;
      align-self: center;
      // margin: 10px;
      img {
        height: 50px;
      }
      .title {
        text-transform: uppercase;
        font-weight: 400;
        font-size: 1.3em;
        letter-spacing: 0.1em;
        @include flex(1);
        display: flex;
        justify-content: center;
        @media screen and (max-width: 480px) {
          letter-spacing: normal;
        }
        @media screen and (min-width: 580px) {
          margin-left: -187.5px;
        }
        // margin-top: 3px;
      }
      .actions {
        .logout {
          display: flex;
          cursor: pointer;
          padding: 5px;
          font-size: 1.4em;
          &:hover {
            background-color: rgba(0, 0, 0, 0.05);
            border-radius: 3px;
          }
        }
      }
    }
  }
}

.landing-view {
  // margin: 15px;
  span {
    &.title {
      font-weight: 600;
    }
    font-size: 1.2em;
  }
}

.view {
  width: 100%;
  height: 100%;
  position: absolute;
  padding-top: $header-height;
  overflow-y: auto;
  > .content {
    display: block;
    width: 100%;
  }
  .dashboard-loading {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #777;

    .loading-txt {
      font-weight: 500;
      font-size: 1.2em;
      padding: 15px;
    }
  }
}

.login-view {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .bru-suggested-action-card-component {
    .container {
      div {
        display: inline-table !important;
      }
    }
  }
}
@import "./scss/form.scss";
@import "./modules/index.scss";
@import "../node_modules/bru-web-sdk/packages/bru-ui-dashboard/dist/dashboard/dashboard";
@import "../node_modules/chatbot-ui-sdk/dist/index";
@import "./modules/feedback/feedback.scss";
@import "./fonts/style.scss";
// @import "brand_theme";
// @import "./theming/_$brand/index.scss";
