<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="HandheldFriendly" content="True" />
  <meta name="apple-mobile-webapp-capabale" content="yes" />
  <meta name="apple-mobile-web-app-title" content="Starter App" />
  <meta name="apple-touch-fullscreen" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
</head>

<body>
  <div class="root"></div>
  <script>
    var configData = '@configData@';
    window.onload = function () {
      console.log("configData", configData);
      Bootstrap.init(configData);
    };
  </script>
</body>

</html>