@mixin label_span_style {
  @include flex(1);
  padding: 3px 0;
  word-break: break-all;
  font-size: 0.9em;
  font-weight: 500;
}
.appliance-info-content {
  height: 105px;
  overflow-y: auto;
  .appliance-info {
    @include flex-container;
    // justify-content: space-around;
    height: 100%;
     @include flex(1);
     cursor: default;
    > .appInfo {
      @include flex-container;
      @include flex(1);
      border-right: 1px solid rgba(0,0,0,0.08);
      padding: 5px;
      .app-info {
        padding: 0px 10px;
        @include flex-container;
        flex-direction: column;
        @include flex(1);
        div {
          @include flex-container;
          @include flex(1);
          label, span {
            @include label_span_style;
          }
          label {
            color: $widget-txt-color;
            max-width: 80px;
          }
          span {
            display: block;
            color: darken($color: $widget-txt-color, $amount: 10%);
            font-weight: 600;
            text-transform: uppercase;
          }
        }
      }
      
      > .appInfo-img {
        cursor: pointer;
        // @include flex(1);
      //  align-self: center;
        &.img-err {
          cursor: auto;
        }
       img {
         height: 80px;
       }
     }
    }
    .panel-info {
      // @include flex-container;
      @include flex(1);
      display: flex;
      align-items: center;
      justify-content: center;
      // flex-direction: inherit;
      // flex-direction: row;
      border-right: 1px solid rgba(0, 0, 0, 0.08);
      img {
        // @include flex(1);
        height: 80px;
        cursor: pointer;
      }
      cursor: pointer;
    }
    .no-features {
      border-right: none;
      padding-left: 50px;
      .appInfo-img{
        @include flex(1);
      }

      label {
        max-width: initial !important;
      }
    }
    > .features {
      @include flex(1);
      padding: 0px 10px;
      .features-val-section {
        display: flex;
        flex-wrap: wrap;
        overflow-y: auto;
        height: 85px;
      }
      .value {
        // display: flex;
        // font-size: 0.9em;
        // font-weight: 600;
        font-size: 0.85em;
        font-weight: 500;
        color: darken($color: $widget-txt-color, $amount: 20%);
        padding: 3px;
        width: 170px;
        // width: 50%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      p {
        margin: 0;
        color: $widget-txt-color;
      }
    }
  }
  .loading-indicator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .appliance-info-content {
    height: auto;
    .appliance-info {
      flex-direction: column;
      .appInfo {
        border-right: none;
        border-bottom: 1px solid rgba(0,0,0,0.08);
        padding: 10px 5px;
        
        .appInfo-img {
          align-self: auto;
          border-bottom: 1px solid rgba(0,0,0,0.08);
          padding: 10px 5px;
        }
      }
      .features {
        padding: 10px 5px;
        .features-val-section {
          height: auto;
        }
      }
    }
  }
}

$hover-bg-color: #c1c1c1;
.bru-img-dialog {
  position: fixed;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  outline: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  background-color: rgba(16, 22, 26, 0.5);
  .img-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    overflow: hidden;

    >.loading-indicator{
      position: absolute;
      top: 50%;
      display: block;
      left: 50%;
      color: #58595b;
    }
    .img-mul {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      .icon-left, .icon-right {
        width: 35px;
        font-size: 1.5em;
        cursor: pointer;
        &:hover {
          color: rgba(0, 0, 0, 0.6);
        }
      }
      .img-holder{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        max-width: calc(100vw - 10px);
        // .loading-indicator{
        //   height: 300px;
        //   width: 300px;
        //   color: #58595b;
        // }
      }
      .thumbnail-holder {
        display: flex;
        max-width: 100%;
        overflow: hidden;
        overflow-x: auto;
        .thumbnail {
          height: 75px;
          margin: 2px;
          background-position: 50%;
          background-repeat: no-repeat;
          background-size: cover;
          display: block;
          cursor: pointer;
          border: 2px solid rgba(9, 44, 116, 0);
          img {
            width: 70px;
            height: 70px;
          }
          &.active {
            border: 2px solid rgba(9, 44, 116, 0.5);
          }
        }
      }
    }
    .img-counter {
      align-self: center;
      font-size: 1em;
      font-weight: 600;
      flex: 1;
      margin-left: 10px;
      overflow: hidden;
    }
    .icon-container {
      display: flex;
      justify-content: flex-end;
      // background: rgba(16, 22, 26, 0.9);
      border-bottom: 1px solid #e5e5e5;
      overflow: hidden;
      .close-icon {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5em;
        margin: 5px;
        cursor: pointer;
        color: rgba(0, 0, 0, 0.4);
        &:hover {
          color: rgba(0, 0, 0, 0.7);
        }
      }
    }
    .zoom {
      cursor: zoom-in;
      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        cursor: url(../../../../images/zoomin.cur), default;
      }
      &.in {
        cursor: zoom-in;
        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
          cursor: url(../../../../images/zoomin.cur), default !important;
        }
      }
      &.out {
        cursor: zoom-out;
        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
          cursor: url(../../../../images/zoomout.cur), default !important;
        }
      }
      &.move {
        cursor: move;
      }
    }
    img {
      max-height: calc(100vh - 160px);
      &.img-w1{
        max-width: calc(100vw - 10px);
      }
      &.img-w2{
        max-width: calc(100vw - 90px);
      }
      &.img-err {
        height: 300px;
        width: 300px
      }
    }
  }
}
