$table-header-bg-color: darken($bg-color, 15%);
$table-header-text-color: $text-color;
$severity-low: #e2e244;
$severity-medium: #eeb13f;
$severity-high: #d83030;

.issue-history-component {
  height: 200px;
  // overflow-y: auto;
  overflow: hidden;
  // for ie10
  .table-container {
    display: flex;
    overflow-x: auto;
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      width: 100%;
      // border-spacing: 0;
      li {
        span {
          display: block;
        }
      }
      .fixed_header {
        background-color: $selected-tab-bg;
        color: $selected-tab-txt;
        display: flex;
        span {
          text-transform: uppercase;
          text-align: left;
          font-weight: normal;
          font-size: 0.9em;
          align-items: center;
          // display: flex;
          padding: 5px 10px;
          &.lg {
            flex: 2;
          }
        }
      }
      .fixed_header span:nth-child(1) {
        flex: 1;
      }
      .fixed_header span:nth-child(2) {
        flex: 3;
      }
      .fixed_header span:nth-child(3) {
        flex: 3;
      }
      .fixed_header span:nth-child(4) {
        flex: 2;
      }
      // .fixed_header span:nth-child(5) {
      //   flex: 1;
      // }
    }
    .issue-content {
      display: flex;
      flex-direction: column;
      // overflow: auto;
      overflow-y: auto;
      // height: 135px;
      max-height: 135px;

      font-size: 0.9em;
      .empty {
        padding: 5px 10px;
        color: #417bae;
      }
      .issue {
        display: flex;
        .date {
          flex: 1;
        }
        .problem {
          flex: 3;
        }
        .desc {
          flex: 3;
        }
        .parts {
          flex: 2;
        }
        .action {
          flex: 2;
        }
        span {
          align-items: center;
          // display: flex;
          padding: 5px 10px;
          //color: #417bae;
          color: lighten($color: $tab-txt-color, $amount: 10%);
        }
        .severity {
          flex: 1;
          .severity-bar {
            width: 25px;
            height: 10px;
            margin: 0 auto;

            &.low {
              background: $severity-low;
            }
            &.medium {
              background: $severity-medium;
            }
            &.high {
              background: $severity-high;
            }
          }
        }
        .status {
          display: block;
          width: 40px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          flex: 1;
          .icon {
            &.check {
              color: $success-color;
            }
            &.alert {
              color: $error-color;
            }
          }
        }
      }
      li {
        background-color: $zebra-row-default;
      }
    }
    .issue-content li:nth-child(2n + 1) {
      background-color: $zebra-row-alt;
    }
  }

  .footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
    .actions {
      display: inline-flex;
      button {
        padding: 3px 5px;
        margin: 0 3px;
        display: inline-block;
        width: auto;
        border-width: 1px;
      }
    }
  }
}
