$brand-color: #053c6f;
$base-color: #fff;

$success-color: #66BF3C;
$error-color: #dc3545;
$warn-color: #ffc107;
$info-color: #0070ba;
$alert-color: #6c757d;
$invalid-color: #bb7373;


$bg-color: #fafafa;
$alt-bg-color: #242d58;
$text-color: #707588;
$alt-text-color: #000;
$active-bg-color: #5e6bac;
$active-text-color: $text-color;

$primary-color: #385e8f;
$primary-text-color: #fff;
$primary-action-bg-color: $primary-color;
$primary-action-text-color: $primary-text-color;

$secondary-color: #5971b4;
$secondary-text-color: #fff;
$secondary-action-bg-color: $secondary-color;
$secondary-action-text-color: $secondary-text-color;

$bg-color: #f0f0f0;
$txt-color: #182026;

//Header colors
$header-bg: #092c74;
$header-txt: #fff;

//Widget colors
$widget-bg-color: #fcfcfc;
$widget-txt-color: #777;
$widget-border-color: rgba(0, 0, 0, 0.1);

//Tab Colors
$tab-bg: #bcd0e2;
$tab-txt-color: #2064a0;
$selected-tab-bg: #2064a0;
$selected-tab-txt: #ffffff;

$zebra-row-default: #d4e1ec;
$zebra-row-alt: #e8eff5;
$zebra-txt-color: #2064a0;

//Chat-Bot colors
$bot-message-bg-color: #ffffff;
$bot-message-border-color: #dadada;
$primary-color: #385e8f;
$primary-text-color: #fff;
$chat-bg-color: #e8eff5;
$bot-input-bg: #d0dde6;
$bot-input-disabled:$text-color;
$bot-input: $widget-txt-color;
$bot-user-msg: rgba(5, 60, 111, 0.9);
$bot-sys-msg: #131424;
$bot-err-msg: lighten($error-color, 40);
