$feedback-drawer-width: 430px;
$btn-bg-color: #C34B2D;
$text-color: #166cbb;//#0C2E72;

.feedback-drawer {
  // height: 280px;
  width: $feedback-drawer-width;
  background: #ffffff;
  position: absolute;
  top: $header-height;
  right: 0px;
  color: #666;
  //border: 1px solid rgba(0, 0, 0, .2);
  box-shadow: -1px 1px 5px rgba(0, 0, 0, .5);
  border-radius: 2px;
  -webkit-animation: moveFromRight 500ms ease;
  -moz-animation: moveFromRight 500ms ease;
  -ms-animation: moveFromRight 500ms ease;
  display: flex;
  flex-direction: column;
  padding: 5px 5px 5px 15px;
  display: none;
  &.show {
    display: block;
  }
  
  .fd-header {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding: 2px;
    margin-right: 5px;
    .fd-title {
      color: $text-color;//#166cbb;
      font-size: 1.2em;
      font-weight: 500;
      margin-right: 10px;
    }
    .close-icon {
      cursor: pointer;
      display: flex;
      justify-content: flex-end;
    }
  }
  .fd-content {
    padding: 10px 5px;
    font-size: 1.2em;
    font-weight: 500;
    // flex: 1;

    .que-opt {
      padding: 15px;
    }
  }
  .fd-footer {
    display: flex;
    justify-content: center;
    .submit-btn {
      border: none;
      letter-spacing: 2px;
      text-transform: uppercase;
      border-radius: 20px;
      padding: 8px 20px;
      background: $btn-bg-color;

      &:hover {
        background-color: darken($btn-bg-color, 7%);
        // color: $alt-text-color;
      }
    }
  }
}

.star-rating {
 display: flex;
 flex-direction: row;
 padding: 10px;
 color: rgba(0, 0, 0, 0.26);
  .star {
    font-size: 1.6em;
    padding: 10px;
    cursor: pointer;
    &.selected {
      color: #C34B2D;
    }
  }
}

.options {
  .opt-container {
    margin: 0;
    padding: 0;
    list-style-type: none;
    // width: 100%;
    display: flex;
    .opt-icon {
      margin-right: 5px;
      color: $text-color;
    }
    .opt-label{
      vertical-align: top;
    }
    .option {
      cursor: pointer;
      padding: 3px;
      &.selected {
        .opt-icon {
         color: $btn-bg-color
        }
      }
    }
    &.checkbox {
      flex-direction: row;
      flex-wrap: wrap;
      option {
        padding: 10px;
      }
    }
    &.radio {
      flex-direction: column;
    }
    
  }
}

@-webkit-keyframes moveFromRight {
  0% {
    right: -$feedback-drawer-width;
  }
  100% {
    right: 0px;
  }
}
@-moz-keyframes moveFromRight {
  0% {
    right: -$feedback-drawer-width;
  }
  100% {
    right: 0px;
  }
}
@-ms-keyframes moveFromRight {
  0% {
    right: -$feedback-drawer-width;
  }
  100% {
    right: 0px;
  }
}