@mixin icon {
  cursor: pointer;
  font-size: 1.2em;
}
.drawer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 6px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  background: #fff; 
  padding: 0 $drawer-padding $drawer-padding $drawer-padding;
  -webkit-animation: moveFromLeft 800ms ease;
  -moz-animation: moveFromLeft 800ms ease;
  -ms-animation: moveFromLeft 800ms ease;
  .dr-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid #092c74;
    margin-bottom: 10px;
    .title {
      display: block;
       @include flex(1);
      text-transform: uppercase;
      font-weight: 500;
      padding: 10px 0;
    }
  } 
  .dr-content {
     @include flex(1);
    overflow: auto;
    // overflow-y: auto;

    .react-pdf {
      &__Document {
        display: flex;
        flex-direction: column;
        align-items: center;
         @include flex(1);
        width: 100%;
        position: relative;
        padding: 10px;
      }

      &__Page {
        display: flex;
        justify-content: center;
        width: 100%;
         @include flex(1);
        box-shadow: 0 0 2px rgba(0, 0, 0, .5);
        margin: 1em;

        // canvas {
        //   width: 100%;
        //   height: 100% !important;
        // }
        
        // &__textContent {
          // max-width: 100%;
        // }
      }

      &__message {
        padding: 20px;
        // color: white;
      }
    }
  } 
  .close-icon {
    @include icon;
    margin-left: 8px;
  }
  .window-icon {
    @include icon;
  }
}
@-webkit-keyframes moveFromLeft {
  0% {
    // left: 100%;
    width: 0%;
    visibility: hidden;
    opacity: 0;
  }
  100% {
    // left: 0%;
    width: 100%;
    visibility: visible;
    opacity: 1;
  }
}
@-moz-keyframes moveFromLeft {
  0% {
    // left: 100%;
    width: 0%;
    visibility: hidden;
    opacity: 0;
  }
  100% {
    // left: 0%;
    width: 100%;
    visibility: visible;
    opacity: 1;
  }
}
@-ms-keyframes moveFromLeft {
  0% {
    // left: 100%;
    width: 0%;
    visibility: hidden;
    opacity: 0;
  }
  100% {
    // left: 0%;
    width: 100%;
    visibility: visible;
    opacity: 1;
  }
}

.webpage-wrapper {
  position: absolute;
  top: 40px;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  padding: 10px;
  > iframe {
     @include flex(1);
  }
}

.video-wrapper {
  position: relative;
  padding-top: 56.25%;
  &.youtube {}
  > .video-player {
    position: absolute;
    top: 0;
    left: 0;
  }
}