$brand-color: #000;
$base-color: #fff;

$error-color: #f00;
$success-color: #0f0;
$warn-color: #F79204;
$info-color: #0070ba;
$alert-color: #929292;
$invalid-color: #bb7373;

$alt-bg-color: #242d58;
$text-color: #707588;
$alt-text-color: #000;
$active-bg-color: #5e6bac;
$active-text-color: $text-color;

$primary-color: #385e8f;
$primary-text-color: #fff;
$primary-action-bg-color: $primary-color;
$primary-action-text-color: $primary-text-color;

$secondary-color: #5971b4;
$secondary-text-color: #fff;
$secondary-action-bg-color: $secondary-color;
$secondary-action-text-color: $secondary-text-color;

$bg-color: #3a3a3a;
$txt-color: #ffffff;

//Header colors
$header-bg: #2a2a2a;
$header-txt: darken($txt-color, 5%);

//Widget colors
$widget-bg-color: #2a2a2a;
$widget-txt-color: darken($txt-color, 12.5%);
$widget-border-color: lighten($widget-bg-color, 15%);

$tab-bg: #3c3c3c;
$tab-txt-color: #afafaf;
$selected-tab-bg: darken($tab-bg, 15%);
$selected-tab-txt: lighten($color: $tab-txt-color, $amount: 15%);

$zebra-row-default: #3c3c3c;
$zebra-row-alt: #505050;

//Chat-Bot colors
$bot-message-bg-color: $widget-bg-color;
$bot-message-border-color: $widget-border-color;
$bot-input-bg: $widget-bg-color;
$bot-input-disabled: lighten($widget-bg-color, 20%);
$primary-color: #385e8f;
$primary-text-color: $txt-color;
$bot-input: $widget-txt-color;
$chat-bg-color: lighten($widget-bg-color, 15%);
$bot-user-msg: #1d2a3a;
$bot-sys-msg: #131424;
$bot-err-msg: lighten($error-color, 40);
