@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?meqp6y');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?meqp6y#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?meqp6y') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?meqp6y') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?meqp6y##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-thumb-down {
  &:before {
    content: $icon-thumb-down; 
  }
}
.icon-thumb-up {
  &:before {
    content: $icon-thumb-up; 
  }
}

