@font-face {
  font-family: 'icomoon';
  src:  url('icons/icomoon.eot?meqp6y');
  src:  url('icons/icomoon.eot?meqp6y#iefix') format('embedded-opentype'),
    url('icons/icomoon.ttf?meqp6y') format('truetype'),
    url('icons/icomoon.woff?meqp6y') format('woff'),
    url('icons/icomoon.svg?meqp6y#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-thumb-down:before {
  content: "\e900";
}
.icon-thumb-up:before {
  content: "\e901";
}
